.container {
  background-color: rgb(17, 16, 16);
  width: 100%;
  color: orange;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}
.title {
  cursor: pointer;
}
form {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.search {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
}
button {
  padding: 10px;
  background-color: orange;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
@media screen and (max-width: 575px) {
  form {
    flex-direction: column;
  }
  .search {
    width: 80%;
  }
  button {
    width: 80%;
  }
  .top {
    flex-direction: column;
  }
}
.topUl {
  display: flex;
  justify-content: space-around;
}
.topUl li {
  position: relative;
}
.topUl li:hover ul {
  display: block;
  background-color: black;
  color: white;
}
.topUl a {
  display: block;
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
p {
  display: block;
  /* padding: 10px; */
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.bottomUl {
  display: none;
  position: absolute;
  z-index: 1;
}
.bottomUl li {
  width: 10rem;
  padding: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid orange;
  cursor: pointer;
}
@media screen and (max-width: 575px) {
  .topUl {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topUl li {
    width: 80%;
    border-bottom: 1px solid orange;
  }
}
