.toggle {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid grey;
  background-color: white;
  position: absolute;
  top: 150px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}
.icon {
  width: 15px;
  height: 15px;
}
.button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  cursor: pointer;
}
